asgiref==3.8.1
colorama==0.4.6
django==5.2
django-crispy-forms==2.4
django-environ==0.12.0
iniconfig==2.1.0
packaging==25.0
pluggy==1.5.0
pytest==8.3.5
pytest-django==4.11.1
sqlparse==0.5.3
tzdata==2025.2
